body, html {
    height: 100%;
}

h1 {
    font-size: 60px;
    color: white;
}

body {
    background-image: linear-gradient(to bottom right, rgb(18, 1, 21), rgb(47, 3, 55));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px
}

form {
    display: flex;
    position: center;
}

input {
    border: 1px solid;
    padding: 1em;
    font-size: 1em;
    margin: 0;
    border-radius: 0.5em 0 0 0.5em;
}

button {
    border: 1px solid gb(30, 0, 72);
    padding: 1em;
    font-size: 1em;
    margin: 0;
    background-color: rgb(51, 0, 123);
    color: white;
    border-radius: 0 0.5em 0.5em 0;
    
}

div.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}